@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --primary-color: #111317;
    --primary-color-light: #1f2125;
    --primary-color-extra-light: #35373b;
    --secondary-color: #ED6421;
    --secondary-color-dark: #FF4500;
    --text-light: #d1d5db;
    --white: #ffffff;
    --max-width: 1200px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.section__container {
    max-width: var(--max-width);
    margin: auto;
    padding: 5rem 1rem;
}

.section__header {
    margin-bottom: 1rem;
    font-size: 2.25rem;
    font-weight: 600;
    text-align: center;
    color: var(--secondary-color-dark);
}

.btn {
    padding: 10px 20px;
    outline: none;
    border: none;
    font-size: 1rem;
    color: var(--primary-color);
    background-color: var(--white);
    border-radius: 7px;
    cursor: pointer;
    transition: .3s;
    box-shadow: #ffffff;
}

.btn:hover {
    background-color: var(--white);
    transform: scale(110%);
    transition: 0.2s;
    color: var(--secondary-color-dark);
    box-shadow: 3px 3px 8px var(--primary-color);
}

img {
    width: 100%;
    display: flex;
}

.bg__blur {
    position: absolute;
    box-shadow: 0 0 1000px 90px #000000;
    z-index: -1;
}

body {
    font-family: "Poppins", sans-serif;
    background-color: white;
}

#principal {
    background: var(--secondary-color-dark);
    padding: 2rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}

.nav-logo {
    max-width: 120px;
}

.nav-links {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 3rem;
}

#link a {
    position: relative;
    padding-bottom: 0.75rem;
    color: var(--primary-color);
}

/* Mundaça por minha Conta */
#link a:hover {
    background-color: var(--white);
    color: var(--secondary-color-dark);
    text-transform: capitalize;
    border-radius: 7px;
    padding: 8px 10px;
    font-style: oblique;
    transition: 0.2s;
    box-shadow: #111317;
}

/* Mundaça por minha Conta - Até aqui */

#link a::after {
    content: "";
    position: absolute;
    height: 2px;
    width: 0;
    left: 0;
    bottom: 0;
    background-color: var(--secondary-color-dark);
    transition: 0.7s;
}

#link a:hover::after {
    width: 100%;
}

.dropdown-equipe {
    position: absolute;
    box-shadow: 6px 6px 8px var(--primary-color);
    display: none;
    margin-top: 8px;
    border-radius: 10px;
    background: var(--white);
}

.dropdown-equipe a {
    display: block;
    padding: 10px;
}

.dropdown:hover .dropdown-equipe {
    display: block;
}

.dropdown-cursos {
    position: absolute;
    box-shadow: 6px 6px 8px var(--primary-color);
    display: none;
    margin-top: 8px;
    border-radius: 10px;
    background: var(--white);
}

.dropdown-cursos a {
    display: flex;
    padding: 10px;
}

.dropdown:hover .dropdown-cursos {
    display: block;
}

.dropdown-sobre-nos {
    position: absolute;
    box-shadow: 6px 6px 8px var(--primary-color);
    display: none;
    margin-top: 8px;
    border-radius: 10px;
    background: var(--white);
}

.dropdown-sobre-nos a {
    display: block;
    padding: 10px;
}

/* Alinhando os Ícones aos Textos Verticalmente */
a i {
    vertical-align: middle;
}

.dropdown:hover .dropdown-sobre-nos {
    display: block;
}

.dropdown-contato {
    position: absolute;
    box-shadow: 6px 6px 8px var(--primary-color);
    display: none;
    margin-top: 8px;
    border-radius: 10px;
    background: var(--white);
}

.dropdown-contato a {
    display: block;
    padding: 8px;
}

.dropdown:hover .dropdown-contato {
    display: block;
}

.icons {
    width: 30px;
    height: auto;
    margin-right: 8px;
    display: inline-block;
}

.nota-musical {
    color: var(--primary-color);
}

.header__container {
    position: relative;
    padding-top: 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2rem;
    z-index: -1;
}

.header__container::before {
    content: "Orff Music";
    position: absolute;
    top: 40rem;
    bottom: 1rem;
    right: 10rem;
    font-size: 10rem;
    font-weight: 700;
    line-height: 7rem;
    color: var(--primary-color);
    opacity: 0.15;
    z-index: 1;
}

.header__blur {
    bottom: 5rem;
    right: 0;
}

.header__content h3 {
    margin-bottom: 1rem;
    font-size: 30px;
    font-weight: 600;
    color: var(--secondary-color-dark);
    z-index: -1;
}

.header__content h1 {
    margin-bottom: 1rem;
    font-size: 5rem;
    font-weight: 700;
    line-height: 6rem;
    color: var(--primary-color);
    z-index: -1;
}

.header__content h1 span {
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px var(--secondary-color-dark);
}

.header__content h2 {
    font-size: 50px;
    font-weight: 700;
}

.header__content p {
    margin-bottom: 2rem;
    color: var(--primary-color);
}

/* Posicionando a Imagem */
.header__image {
    position: relative;
    margin-left: 71px;
}

/* .header__image::before {
    content: "o";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 40rem;
    font-weight: 400;
    line-height: 20rem;
    color: var(--secondary-color);
    opacity: 0.35;
    z-index: -1;
} */

.header__image img {
    max-width: 450px;
    margin: auto;
    transform: translateY(-10%);
    opacity: 0.3;
}

/* Estilizando o Footer (Rodapé) */
footer {
    text-align: center;
    color: var(--primary-color);
    font-size: 10px;
    padding-top: 150px;
    padding-bottom: 10px;
    font-family: poppinslight, sans-serif;
}

.icons {
    display: inline-flex;
    justify-content: center;
    font-size: 25px;
    transition: 0.3s;
    border-radius: 50px;
}

.social-media {
    display: inline-flex;
    width: 35px;
    height: 35px;
    font-size: 25px;
    margin: 0px 25px 30px 20px;
    border-radius: 50px;
    justify-content: center;
    align-items: center;
    background: #FF4500;
    color: white;
    transition: 0.3s;
}

.social-media:hover {
    background: white;
    color: var(--secondary-color);
    box-shadow: 0 0 8px var(--primary-color);
}

/* Estilizando os Ícones */
#baixo {
    width: 70px;
    display: inline;
    margin-left: 20px;
}

#piano {
    width: 70px;
    display: inline;
    vertical-align: middle;
    /* Alinha a imagem ao texto Verticalmente */
    margin-left: 20px;
}

#ukulele {
    width: 70px;
    display: inline;
    /* vertical-align: middle; */
    margin-left: 20px;
}

#microfone {
    width: 70px;
    display: inline;
    vertical-align: middle;
    margin-left: 5px;
}

#bateria {
    width: 65px;
    display: inline;
    vertical-align: middle;
    margin-left: 20px;
}

#violino {
    width: 70px;
    display: inline;
    /* vertical-align: middle;  */
    margin-left: 15px;
}

#sax {
    width: 75px;
    display: inline;
    /* vertical-align: middle;  */
    margin-bottom: -10px;
    margin-left: 10px;
    rotate: -25deg;
}

#teclado {
    width: 65px;
    display: inline;
    /* vertical-align: middle;  */
    margin-bottom: -10px;
    margin-left: 20px;
}

#guitarra {
    width: 70px;
    display: inline;
    /* vertical-align: middle;  */
    margin-left: 20px;
}

#violao {
    width: 70px;
    display: inline;
    /* vertical-align: middle;  */
    margin-left: 20px;
}

/* Estilizando Tamanho de Tela (Responsividade) */
@media (max-width: 768px) {

    /* MENU DE NAVEGAÇÃO */
    #principal {
        flex-direction: column;
        height: auto;
    }

    .nav-links {
        flex-direction: column;
        width: 100%;
        padding-top: 0;
        line-height: 0;
    }

    #principal button {
        width: 100%;
        display: inline-flex;
    }

    /* Extilizando Espaçamento do Ícone no Botão */
    #principal button i {
        margin-right: 5px;
    }

    /* Dropdown Menu */
    .dropdown-equipe {
        line-height: 20px;
        z-index: 1;
        margin-top: 20px;
    }

    .dropdown-cursos {
        line-height: 20px;
        z-index: 1;
        margin-top: 20px;
    }

    .dropdown-sobre-nos {
        line-height: 20px;
        z-index: 1;
        margin-top: 20px;
    }

    .dropdown-contato {
        line-height: 20px;
        z-index: 1;
        margin-top: 20px;
    }

    /* HEADER */
    .section__container {
        max-width: 100%;
        margin: auto;
        padding: 2rem 1rem;
    }

    .header__content h3 {
        font-size: 20px;
    }

    .header__content h1 {
        font-size: 80px;
    }

    .header__content h2 {
        font-size: 25px;
    }

    .header__content p {
        font-weight: 700;
        margin-top: 10px;
    }

    .header__image {
        position: absolute;
        width: 45%;
        margin-top: 55rem;
        margin-left: 55%;
    }

    .header__container::before {
        font-size: 60px;
        line-height: 70px;
        margin-left: 25px;
        margin-top: 5rem;
    }

    /* Estilizando os Ícones */
    #baixo {
        width: 12%;
        margin-left: 5px;
    }

    #bateria {
        width: 15%;
        margin-left: 5px;
    }

    #canto {
        width: 15%;
        margin-left: 5px;
    }

    #guitarra {
        width: 15%;
        margin-left: 5px;
    }

    #piano {
        width: 15%;
        margin-left: 5px;
    }

    #sax {
        width: 15%;
        margin-left: 5px;
    }

    #teclado {
        width: 15%;
        margin-left: 5px;
    }

    #ukulele {
        width: 15%;
        margin-left: 5px;
    }

    #violino {
        width: 15%;
        margin-left: 5px;
    }

    #violao {
        width: 15%;
        margin-left: 5px;
    }

    /* FOOTER */
    .icons a {
        margin-top: 30px;
    }

    footer h2 {
        /* margin-left: 16px; */
        font-size: 14px;
    }
}